[submodule "NAT-Diffuser"]
	path = NAT-Diffuser
	url = https://github.com/justin4ai/NAT-Diffuser.git
[submodule "FID-Transformer"]
	path = FID-Transformer
	url = https://github.com/justin4ai/FID-Transformer.git
